@import "layout/variables";
@import "layout/base";
@import "layout/header";
@import "layout/hero";
@import "layout/gaming-gear.scss";
@import "layout/last-chance";
@import "layout/posters";
@import "layout/review.scss";
@import "layout/_newsletter.scss";
@import "layout/footer.scss";

.learn-more{
    font-size: medium;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
