header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    @media (max-width: 1199px){
        display: none;
    }
    img{
        width: 192px;
        height: 45px;
        padding-top: 2px;
        padding-bottom: 2px;
        top: 7px;
        padding: 0%;
        margin-top: 5px;
    }

    nav{
        height: 100%;
        padding-top: 20px;
        
    }
    ul{
        list-style: none;
    }

    li{
        display: inline-block;
        margin-left: 20px;
    }

    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        position: relative;

        &:hover{
            &:after{
                display: block;
                position: absolute;
            }
        }

        &:after{
            content: "";
            display: none;
            height: 2px;
            width: 100%;
            background-color: #fff;

        }
    }
}